<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <!--<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44358" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        -->
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44358" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.100\DotnetTools\dotnet-watch\6.0.100-rtm.21527.8\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:59499/MultiVariateNetworkExplorer2/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAz+wGeLrkOtzQ7HWISqZxVXebnUskCndC2lGCIz3c+zqMe2lG1oRR4bjG86ZeElrMOc8/Qplcm054UUnae2r/GYlNGsNUJsbP9hIEMqVQHLUrx0fuFjbihyL8axrvNpglCiRQTMd1mlFw4+ZASzUc42mSUDoO+FTmqBIhlBefzgshVVWuZgFDVVBvNYkNxde5+6hjf3wwLGbNhrGmuAxttwfVBE46gVCT2JfQiWY+6VGKJs7bEOJlr0Z+XTg9jW0v43K6nKOdmQrYyVaR7/KvhDl6QQ7uCmcoRmrY04e9kr2M2GjHyeOL9X0rKFmkMzh28S/8jWGC6HB951BVJUIdvQIDAQAB" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>