<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" arguments="%LAUNCHER_ARGS%" hostingModel="inprocess">
      <environmentVariables>
        <!--<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44358" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        -->
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44358" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.105\DotnetTools\dotnet-watch\6.0.105-servicing.22221.11\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:56396/MultiVariateNetworkExplorer2/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAox+WWG6+YdNa47WrUPKAhKwlWWgTC5S+NkkDCHrS/LtBtFGqefO0OxzNAAGlW0L0HKi70lzkZbJIfHMvz7iMzxS7xVxbNjKSQ3C6P2OXisXnbuvKu2rGK40ReJIP8gThYymwwcwwGta2LFdmEHtl6iQzY4ujGhXkfkMbYFfQb33wvQtmnjkciaf7uycbZoPLy4T1K/o0kKAPz2lMvHirdTwpHiEQXQCcxyQvBAx7IHXueoCo61YbG9aDxzlwf+30gzhE8hhJw9gFYSE4p3p8vIMP1iBesG4P8R09Fm4uomwX32ccp7vt2rPjBZqZVyDfngQfEClfadF3ji4X74SLqQIDAQAB" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>