

<section class="column left-col" id="leftpanel">
        <div class="navigation">
            <div class="tab-nav">
                <a class="tab-link tab-active" href="#" onclick="openTab(event, 'attributes', 'leftpanel', '.column-content')" id="defaultTab">Attributes</a>
            </div>
            <div class="tab-nav">
                <a class="tab-link" href="#" onclick="openTab(event, 'settings', 'leftpanel', '.column-content')">Layout</a>
            </div>
            <div class="tab-nav">
                <a class="tab-link" href="#" onclick="openTab(event, 'visuals', 'leftpanel', '.column-content')">Visuals</a>
            </div>
            <div class="tab-nav">
                <a class="tab-link" href="#" onclick="openTab(event, 'remodel', 'leftpanel', '.column-content')">Remodel</a>
            </div>
        </div>
        <partial name="FiltersPartial" />
        <partial name="GraphLayoutPartial" />
        <partial name="GraphVisualsPartial" />
        <partial name="GraphRemodelPartial" />
        
</section>
