@* @model MultiVariateNetworkExplorer2.Models.GraphModel *@
@model MultiVariateNetworkExplorer2.Models.ApplicationModels
@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
<main class="main-div">
    <partial name="MvnInputPartial" />
    <div class="d-flex flex-row border-bottom border-white" id="graph-header">
        <partial name="ToolBarPartial" />
        <partial name="LogoutPartial" />
    </div>
    <div class="graph-section">
        <partial name="ControlsPartial" />
        <section id="graph" class="column graph-col">
            <div class="navigation">
                <div class="tab-nav">
                    <a class="tab-link tab-active" href="#" onclick="openTab(event, 'networkGraph', 'graph', '.graph-content')" id="defaultGraphTab">Network Graph</a>
                </div>
                <div class="tab-nav">
                    <a class="tab-link" href="#" onclick="openTab(event, 'selectionGraph', 'graph', '.graph-content') ">Selection Graph</a>
                </div>
                <div class="tab-nav">
                    <a class="tab-link" href="#" onclick="openTab(event, 'networkMetrics', 'graph', '.graph-content') ">Graph Metrics</a>
                </div>
            </div>
            <div id="networkGraph" class="graph-content">
                <svg width="100%" height="100%" @*viewBox="0 0 100 80" preserveAspectRatio="none"*@></svg>
                @*<script src="~/js/d3v4-brush-lite.js" asp-append-version="true"></script>*@
                <environment include="Development">
                    <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
                    <script src="~/js/graph.js" type="text/javascript" asp-append-version="true"></script>
                </environment>
                <environment exclude="Development">
                    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
                    <script src="~/js/graph.min.js" type="text/javascript" asp-append-version="true"></script>
                </environment>
                <script>
                    initGraph(@Html.Raw(Model.GraphModel.Graph));
                </script>
                
            </div>
            <div id="selectionGraph" class="graph-content">
                <svg></svg>
                <script>
                    drawSelectionNetwork(@Html.Raw(Model.GraphModel.Selection));
                </script>
            </div>
            <div id="networkMetrics" class="graph-content">
                <div class="network-metrics-container">
                    <div class="network-metric-sync-content" data-value="getNodeCount(graph)">
                        <h4>Number of Nodes:</h4>
                        <span class="metric-value" onclick="getGraphProperty(graph, this.parentNode);">Calculating...</span>
                    </div>
                    <div class="network-metric-sync-content" data-value="getLinkCount(graph)">
                        <h4>Number of Links:</h4>
                        <span class="metric-value" onclick="getGraphProperty(graph, this.parentNode);">Calculating...</span>
                    </div>
                    <div class="network-metric-async-content" data-value="degree">
                        <h4>Average Degree:</h4>
                        <span class="metric-value" onclick="calculateMetricAsync(graph, this.parentNode);">Calculating...</span>
                    </div>
                    <div class="network-metric-async-content" data-value="closeness">
                        <h4>Average Closeness:</h4>
                        <span class="metric-value" onclick="calculateMetricAsync(graph, this.parentNode);">Calculating...</span>
                    </div>
                </div>
            </div>
        
        </section>
        <partial name="NodesPartial" />
    </div>
    <footer class="bottom-panel">
        Version: 0.1.1
    </footer>
</main>
    @if (TempData["ErrorMessage"] != null)
    {  
        <script>
            window.addEventListener("load", () => {
                alert("@TempData["ErrorMessage"]");
            });
        </script>  
    } 
}

