<div class="column-content controls" id="visuals">
    <div class="navigation">
        <div class="tab-nav">
            <a class="tab-link tab-active" href="#" onclick="openTab(event, 'visuals-settings', 'visuals', '.column-content')">Settings</a>
        </div>
        <div class="tab-nav">
            <a class="tab-link" href="#" onclick="openTab(event, 'visuals-profiles', 'visuals', '.column-content')">Profiles</a>
        </div>
    </div>
    <div class="column-content" id="visuals-settings">
        <select class="attribute-select attribute-select-border" id="colouring-method-select" onchange="changeColourSettingType(this)">
            <option value="monochrome-colour-setting">Single Colour</option>
            <option value="numerical-colour-setting">Numerical Attribute</option>
            <option value="categorical-colour-setting">Categorical Attribute</option>
        </select>
        <div class="force" id="background-colour-setting">
            <label class="colouring">
                Background colour
                <input type="color" id="background-colour-input" value="#000000">
            </label>
            <button onclick="changeNetworkBackgroundColour('background-colour-input')"></button>
        </div>
        <div class="force" id="monochrome-colour-setting">
            <div class="colour-row">
                <label class="colouring">
                    Default node colour
                    <input type="color" id="network-colour-input" value="#FFFFFF" onchange="changeNetworkNodeColour(value)">
                </label>
            </div>
            <button onclick="changeNetworkNodeColour('network-colour-input')"></button>
        </div>

        <div class="force" id="numerical-colour-setting">
            <p><label>Attribute Node Colouring</label>Modify colour of node based on its attribute value</p>
            <label class="attribute-selection-label" for="attribute-node-colouring">
                Choose Attribute:
                <select id="attribute-node-colouring" class="attribute-select attribute-select-border" name="attribute-node-colouring" onchange="setAttributeNodeColouring(this)">
                    <option value="">--None--</option>
                    <optgroup label="Numeric Attributes">
                        @foreach (var key in Model.GraphModel.Mvn.VectorData.NumAtrrExtremes.Keys)
                        {
                            <option value="@key">@key</option>
                        }
                    </optgroup>
                    <optgroup label="Centralities">
                        <option value="degree">Degree</option>
                        <option value="closeness">Closeness</option>
                    </optgroup>
                </select>
            </label>
            <div class="colour-row">
                <label class="colouring" for="low-value-colour">
                    Low value colour
                    <input type="color" id="low-value-colour" value="#0000FF" onchange="changeAttributeNodeColouring('lowValue', this.value)">
                </label>
                <label class="colouring" for="high-value-colour">
                    High value colour
                    <input type="color" id="high-value-colour" value="#FF0000" onchange="changeAttributeNodeColouring('highValue', this.value)">
                </label>
            </div>
        </div>

        <div class="force" id="categorical-colour-setting">
            <p><label>Attribute Node Colouring</label>Modify colour of node based on its attribute value</p>
            <label class="attribute-selection-label" for="attribute-node-colouring">
                Choose Attribute:
                <select id="attribute-node-colouring" class="attribute-select attribute-select-border" name="attribute-node-colouring" onchange="setAttributeNodeColouring(this)">
                    <option value="">--None--</option>
                    <optgroup label="Numeric Attributes">
                        @foreach (var key in Model.GraphModel.Mvn.VectorData.NumAtrrExtremes.Keys)
                        {
                            <option value="@key">@key</option>
                        }
                    </optgroup>
                    <optgroup label="Centralities">
                        <option value="degree">Degree</option>
                        <option value="closeness">Closeness</option>
                    </optgroup>
                </select>
            </label>
            <div class="colour-row">
                <label class="colouring" for="low-value-colour">
                    Low value colour
                    <input type="color" id="low-value-colour" value="#0000FF" onchange="changeAttributeNodeColouring('lowValue', this.value)">
                </label>
                <label class="colouring" for="high-value-colour">
                    High value colour
                    <input type="color" id="high-value-colour" value="#FF0000" onchange="changeAttributeNodeColouring('highValue', this.value)">
                </label>
            </div>
        </div>
    <div class="column-content" id="visuals-profiles">

    </div>
</div>