<section class="toolbar col-10" id="toolbar">
	<div class="toolbar-container">
		<div class="toolbar-btn" onclick="toggleToolPanel(event,'fileToolPanel')">File</div>
		<div class="toolbar-panel" id="fileToolPanel">
			<a href="#" class="toolbar-item" onclick="openNetworkInputForm('mvn-input-form')">New Network</a>
			<a href="#" class="toolbar-item" onclick="openNetworkInputForm('mvn-append-form')")>Append Nodes</a>
			<a href="#" class="toolbar-item toolbar-group-start" onclick="saveGraph('graph.json')">Save Network</a>
			<a href="#" class="toolbar-item" onclick="openFileBrowser('loadNetwork')">Load Network</a>
			<input class="toolbar-item-file" type="file" id="loadNetwork" onchange="loadNetwork(this.files[0])" accept="application/json" data-caption="{filePath}">

		</div>
	</div>
	<div class="toolbar-container">
		<div class="toolbar-btn" onclick="toggleToolPanel(event,'editToolPanel')">Edit</div>
		<div class="toolbar-panel" id="editToolPanel">
			<a href="#" class="toolbar-item" onclick="requestCommunityDetection(currentGraph)">Detect Communities</a>
		</div>
	</div>
</section>

