.attributes {
    padding: 0 0.5rem;
    font-size: 90%;
    color: black;
    display: block;
}

.attributes h4 {
    margin: 1rem 0.5rem;
    width: 100%;
    text-decoration: underline;
}

.attributes > div {
    background-color: #eee;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}


.attributes .numeric h4 {
    color: crimson;
}

.attributes .numeric div[id$="slider"] {
    margin: 0 5% 1em;
    width: 90%;
}

.attributes .numeric input[type="number"] {
    margin: 0 5% 1em;
    width: 90%;
}


.attributes .categorical h4 {
    color: forestgreen;
    
}

.attributes .categorical .checkboxes {
    margin: 0 5% 1em;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.attributes .categorical input[type="checkbox"] {
    margin: 0 5% 1em;
}




