#partition-metrics{
    overflow-y: scroll;
}

.partition-metric-wrapper{
    display: none;
}

.partition-metric-graph-container {
    display: block;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 100%;
}

.partition-metric-graph-container-grid {
    display: grid;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.partition-boxplot-container {
    grid-template-columns: repeat(2, 1fr);
    display: none;
}
