.controls {
    padding: 0 5px;
    font-size: 90%;
    color: black;
    display: none;
   
}

.controls .force {
    background-color: #eee;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
    
}

.controls .force p label {
    margin-right: .5em;
    font-size: 120%;
    font-weight: bold;
}

.controls .force p {
    margin-top: 0;
}

.controls .force label {
    display: inline-block;
    
}

.controls input[type="checkbox"] {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.controls input[type="range"] {
    margin: 0 5% 0.5em 5%;
    width: 90%;
}

.controls #color-settings label {
    text-align: center;
}

.controls input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    width: 100%;
    min-height: 50px;
    margin: auto;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
}

.controls input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    border: 0.125rem solid black;
}

.controls input[type="color"]::-moz-color-swatch {
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0.125rem solid black;
}

.controls .colouring {
    text-align: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.controls .colour-row {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: stretch;
    justify-content: stretch;
}

.attribute-selection-label {
    width: 100%;
    padding: 0.5rem;
}

.attribute-select {
    width: 100%;
    color: #555555;
    background-color: #fff;
    font-size: 1.2rem;
    padding: 0 1em;
    border: 0.125em solid #ccc;
    -moz-border-radius: 0.50em;
    -webkit-border-radius: 0.50em;
    border-radius: 0.50em;
    line-height: 1.42857143;
    background-image: none;
    height: 3em;
}

/* alpha viewer */
.controls .alpha p {
    margin-bottom: .25em;
}

.controls .alpha .alpha_bar {
    height: .5em;
    border: 1px #777 solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 1px;
    display: flex;
}

.controls .alpha .alpha_bar #alpha_value {
    background-color: #555;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    flex-basis: 100%;
}

.controls .alpha .alpha_bar:hover {
    border-width: 2px;
    margin: -1px;
}

.controls .alpha .alpha_bar:active #alpha_value {
    background-color: #222
}

#remodel-attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    margin: 1rem;
    justify-items: left;
}

.remodel-attribute-panel {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
    min-width: 25vh;
    background-color: #404040;
    color: white;
    padding: 1rem;
    -ms-grid-column: 1 / 3;
    grid-column: 1 / 3;
}

.remodel-attribute-panel h4 {
    text-align: center;
    margin-bottom: 2rem;
}

.remodel-attribute-panel input {
    display: inline-block;
}

.transformation-option {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
}

.attribute-clear-btn {
    border: 0.1rem solid lightblue;
    border-radius: 0.6rem;
    color: white;
    background-color: rgba(100, 100, 100, 0.5);
    outline: none;
    min-height: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    width: 20%;
    min-width: 4rem;
    align-self: flex-end;
}

.transformation-list{
    width: 100%;
    padding: 1rem 2rem;
}

.transformation-li {
    width: 100%;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border: 1px solid white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.transformation-li:active {
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}

.transformation-li button {
    display: inline;
    color: black;
}

.transformation-li.transformation-dragover {
    background-color: #ccc;
}

.remodel-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
    margin: 1rem 1rem;
    justify-content: stretch;
}

.remodel-div label {
    overflow-wrap: anywhere;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

.remodel-div input, select {
    color: white;
    background-color: var(--parameter-input-and-select-bg-color);
    border: none;
    text-align: center;
    
}

.remodel-div h4 {
    -ms-grid-column: 1 / 3;
    grid-column: 1 / 3;
    text-align: left;
    border-bottom: solid 1px white;
}

.algorithm-parameters-container,
.metric-parameters-container {
    display: flex;
    -ms-grid-column: 1 / 3;
    grid-column: 1 / 3;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.metric-parameters,
.algorithm-parameters {
    padding: 1rem;
    border: 1px solid white;
    display: none;
    width: 90%;
    grid-template-columns: 3fr 2fr;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    max-width: 99%;
    align-self: center;
}

.remodel-parameters-div {
    display: none;
    -ms-grid-column: 1 / 3;
    grid-column: 1 / 3;
    text-align: left;
    grid-template-columns: 10fr 9fr;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.remodel-parameters-div input {
    color: white;
    background-color: var(--parameter-input-and-select-bg-color);
    border: none;
    text-align: center;
    width: 95%;
}




.align-right-div {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}


