html {
    --border-color: rgb(89, 118, 135);
    --active-content: rgb(138, 182, 210);
    --shadow-color: rgba(0,0,0, 0.20);
    --parameter-label-bg-color: rgba(70,70,70, 0.7);
    --parameter-input-and-select-bg-color: rgba(85,85,85, 0.7);
}



.body-content {
    padding-left: 5px;
    padding-right: 5px;
    margin: 1.3rem auto 0 auto;
    border: none;
    outline: none;
    width: 100%;
    
}
.main-div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding-bottom: 0.5rem;
    max-height: 90vh;
    width: 100%;
    
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.navigation div:last-child {
    flex-grow: 1;
    border-bottom: 2px solid var(--border-color);
}


.tab-link {
    padding: 1rem 1.5rem;
    display: block;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-decoration: none;
    border-bottom: 2px solid var(--border-color);
    font-size: 1.7rem;
    color:lavender;
}

.tab-link.tab-active {
    color: rgb(52, 59, 74);
}

.tab-link:hover {
    text-decoration: none;
}

.tab-active {
    background-color: var(--active-content);
    border: 2px solid var(--border-color);
    border-bottom: none;
    z-index: 10;
    box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color), 
        -1px 0 1px var(--shadow-color), -2px 0 2px var(--shadow-color), -4px 0 4px var(--shadow-color), -8px 0 8px var(--shadow-color), -16px 0 16px var(--shadow-color), -32px 0 32px var(--shadow-color);
}

.navigation .tab-nav:first-child .tab-active {
    box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color);
}


.column {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
    border-bottom: 2px solid var(--border-color);
    
}

.column.left-col {
    flex-grow: 1;
    max-width: 20%;
}


.column.right-col {
    flex-grow: 1;
    max-width: 20%;
}

.graph-col {
    flex-grow: 2;
    border-right: none;
}


.column-content {
    
    background-color: var(--active-content);
    padding: 0.3rem;
    overflow-y: scroll;
    flex: 1 1 40%;
    border-left: 2px solid var(--border-color);
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
}

.column-content a {
    color: black;
}


.graph-content {
    height: 100%;
    border-left: 2px solid var(--border-color);
    display: none;
    position: relative;
}

.graph-content a{
    color: black;
}

#networkGraph.graph-content{
    display: block;
}

.bottom-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
   
}

footer {
    border: none;
    outline: none;
    display: none;
}


svg {
    overflow: hidden;
    height: 100%;
    width: 100%;
}


#networkGraph {
    height: 100%;
}



.links path {
    stroke: lightgray;
    stroke-width: 1px;
    fill: none;
}

.arrow {
    fill: lightgray;
    stroke: black;
    stroke-width: 1px;
}

.nodes circle {
    pointer-events: all;
    stroke: #fff;
    stroke-width: 1.5px;
}

.nodes .selected {
    stroke: black;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}
