svg {
    flex-basis: 100%;
    min-width: 200px;
    border: solid;
    border-color: white;
    
}
#networkGraph {
    height: 80vh;
    max-height: 80vh;
    width: 100%;
}

html {
    width: 100%;
}

.links path {
    stroke: lightgray;
    stroke-width: 1px;
    fill: none;
}

.arrow {
    fill: lightgray;
    stroke: black;
    stroke-width: 1px;
}

.nodes circle {
    pointer-events: all;
    stroke: #fff;
    stroke-width: 1.5px;
}

.nodes .selected {
    stroke: black;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}
