.main-div {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 90vh;
    max-height: 90vh;
    border: none;
    outline: none;
    width: 100%;
}

.graph-section {
    display: flex;
    position: relative;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    min-height: 90vh;
    max-height: 90vh;
    /*height: 100%;
    width: 100%;*/
}

.navigation {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    
}


.navigation div:last-child {
    border-bottom: 2px solid var(--border-color);
}


.tab-link {
    padding: 1rem 1.5rem;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-bottom: 2px solid var(--border-color);
    font-size: 1.7rem;
    color: lavender;
    height: 100%;
    line-height: 100%;
}

.tab-link.tab-active {
    color: rgb(52, 59, 74);
}

.tab-link:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.tab-active {
    background-color: var(--active-content);
    border: 2px solid var(--border-color);
    border-bottom: none;
    z-index: 10;
    -moz-box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color), -1px 0 1px var(--shadow-color), -2px 0 2px var(--shadow-color), -4px 0 4px var(--shadow-color), -8px 0 8px var(--shadow-color), -16px 0 16px var(--shadow-color), -32px 0 32px var(--shadow-color);
    -webkit-box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color), -1px 0 1px var(--shadow-color), -2px 0 2px var(--shadow-color), -4px 0 4px var(--shadow-color), -8px 0 8px var(--shadow-color), -16px 0 16px var(--shadow-color), -32px 0 32px var(--shadow-color);
    box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color), -1px 0 1px var(--shadow-color), -2px 0 2px var(--shadow-color), -4px 0 4px var(--shadow-color), -8px 0 8px var(--shadow-color), -16px 0 16px var(--shadow-color), -32px 0 32px var(--shadow-color);
}

.navigation .tab-nav:first-child .tab-active {
    -moz-box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color);
    -webkit-box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color);
    box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color);
}


.column {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    border-bottom: 2px solid var(--border-color);
}

.column.left-col {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    max-width: 20%;
}


.column.right-col {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    max-width: 20%;
}

.graph-col {
    -webkit-flex-grow: 2;
    flex-grow: 2;
    border-right: none;
}


.column-content {
    background-color: var(--active-content);
    overflow-y: scroll;
    -ms-flex: 1 1 40%;
    -webkit-flex: 1 1 40%;
    flex: 1 1 40%;
    border-left: 2px solid var(--border-color);
    -webkit-scrollbar-width: thin;
    -ms-scrollbar-width: thin;
    -o-scrollbar-width: thin;
    scrollbar-width: thin;
    -webkit-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    -ms-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    -o-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
}

.column-content a {
    color: black;
}

.graph-content {
    display: none;
    height: 100%;
    border-left: 2px solid var(--border-color);
    position: relative;
}

.graph-content a{
    color: black;
}

#networkGraph {
    height: 100%;
    background-color: #1A1A1A;
    display: block;
}



.bottom-panel {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 1rem;
}


svg {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: 100%;
}

.g-main {
    height: 100%;
    width: auto;
}

.background {
    /*height: 100%;
    width: 100%;*/
}

.links path {
    stroke: lightgray;
    stroke-width: 1px;
    fill: none;
}

.arrow {
    fill: lightgray;
    stroke: black;
    stroke-width: 1px;
}

.nodes circle {
    pointer-events: all;
    stroke: #fff;
    stroke-width: 1.5px;
}


.selected circle, .selected text{
    stroke: black;
}



.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.invisible {
    display: none;
}

@keyframes circleScale {
    0% {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
