body {
    text-align: center;
    color: white;
    background: url('../images/main_background.png') no-repeat fixed center;
    background-size: cover;
    --base-background-color: rgba(50,50,50,0.97);
    --scrollbar-track-color: #888;
    --parameter-label-bg-color: rgba(70,70,70, 0.7);
    --parameter-input-and-select-bg-color: rgba(85,85,85, 0.7);
}

h1 {
    font-size: 3.5rem;
}


input {
    color: black;
}

.body-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 2rem auto 0 auto;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 400px;
    height: 98%;
}

    .body-content h1 {
        font-family: "Segoe print", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 6rem;
        color: orange;
        text-shadow: -0.02em -0.02em #0c0, 0.02em 0.02em #060, -0.06em 0 0.08em #000;
        -moz-box-shadow: 0.04em 0.04em 0.12em #888;
        -webkit-box-shadow: 0.04em 0.04em 0.12em #888;
        box-shadow: 0.04em 0.04em 0.12em #888;
        width: 75%;
        margin: 0 auto;
    }

.body-content form {
    background-color: var(--base-background-color);
    border: 0.2rem solid silver;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 2rem auto;
    padding: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    max-width: 55%;
}

.body-content footer {
    text-align: center;
    border: none;
    margin-top: auto;
}



.file-buttons {
    width: 70%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.file-button {
    margin: 1rem 0.5rem 0.5rem;
    max-width: 35%;
    display: inline-flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}


.inputfile {
    height: 0;
    overflow: hidden;
    width: 0;
}

.inputfile + label {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background-color: rgba(0, 116, 242, 0.4);
    border: 0.2rem solid lightblue;
    -moz-border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    outline: none;
    padding: 1rem 1rem;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.inputfile:hover + label,
.inputfile + label:active {
    /*background-color: darken(#f15d22, 10%);*/
    -moz-filter: saturate(2.5);
    -webkit-filter: saturate(2.5);
    filter: saturate(2.5);
    border-color: aqua;
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    cursor: pointer;
}

.inputfile:active + label {
    
}

.parameters {
    width: 100%;
}



.collapsible-parameters-btn {
    display: block;
    width: contain;
    text-align: left;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    margin: 0.5rem;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 1rem;
}

.collapsible-parameters-btn:hover, .collapsible-parameters-btn-active {
    background-color: #555;
    
}

.collapsible-parameters-btn i {
    margin: 0 0.5rem;
    font-size: 1.6rem;
}

.collapsible-parameters-btn-active i {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.collapsible-parameters-content {
    overflow-y: scroll;
    -webkit-scrollbar-width: thin;
    -ms-scrollbar-width: thin;
    -o-scrollbar-width: thin;
    scrollbar-width: thin;
    -webkit-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    -ms-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    -o-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    width: contain;
    height: 0;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    -webkit-transition: height .3s;
    transition: height .3s;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
    margin: 1rem 1rem;
}

.collapsible-parameters-content label {
    background-color: var(--parameter-label-bg-color);
    text-align: left;
    padding: 0 0.5rem;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.collapsible-parameters-content input, select {
    color: white;
    background-color: var(--parameter-input-and-select-bg-color);
    border: none;
    text-align: center;
}

#conversion-collapsible-content {
    grid-template-rows: auto auto 1fr;
}

#conversion-collapsible-content h4 {
    -ms-grid-column: 1 / 3;
    grid-column: 1 / 3;
    text-align: left;
    display: none;
    border-bottom: solid 0.1rem white;
}

.conversion-parameters-div {
    display: none;
    -ms-grid-column: 1 / 3;
    grid-column: 1 / 3;
    grid-template-columns: 3fr 2fr;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
}



.submit-buttons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
}

.submit-btn {
    width: 100%;
    margin: 2rem auto 0 auto;
    border: 0.1rem solid lightblue;
    -moz-border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    color: white;
    background-color: rgba(0, 116, 242, 0.5);
    outline: none;
    min-height: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    -ms-grid-row: 1 / 2;
    grid-row: 1 / 2;
    -ms-grid-column: 4 / 8;
    grid-column: 4 / 8;
}

.submit-btn:hover {
    -moz-filter: saturate(2.5);
    -webkit-filter: saturate(2.5);
    filter: saturate(2.5);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    border-color: aqua;
}

.clear-btn {
    width: 100%;
    margin: 2rem 0 0 0;
    border: 0.1rem solid lightblue;
    -moz-border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    color: white;
    background-color: rgba(100, 100, 100, 0.5);
    outline: none;
    min-height: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    -ms-grid-row: 1 / 2;
    grid-row: 1 / 2;
    grid-column-start: 10;
}








