.nodes {
    overflow-y: scroll;
}

.node-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.node-container a:focus,
.node-container a:hover,
.node-container a:active {
    outline: 0;
    text-decoration: none;
}

.node-container {
    border-width: 2px;
    border-style: solid;
    border-color: #333333;
    background: none;
    box-shadow: none;
}

.node-row-group{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0.2rem;
    margin-bottom: 0.5rem;
}

.node-heading {
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    color: #333333;
    padding: 0;
    font-size: 2rem;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.node-heading-selected {
    border: 2px solid black;
    transform: scale(0.9);
}

.node-heading:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.node-heading:active{
    transform: scale(0.95);
}

.node-heading a {
    text-align: center;
    line-height: 4rem;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
}

.node-heading.active-node-heading{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.node-data {
    display: none;
    background-color: #fff;
    grid-column: 1 / 6;
    border: 1px solid black;
    border-top: none;
}

.node-data .node-property-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.5rem;
}

.node-detail-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 10px;
    max-width: 100%;
    max-height: 50%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    padding: 0.5rem 1rem;
}

.node-detail-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close-button {
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;

}

.close-button:hover {
    background: none;
}

.node-detail {
    display: flex;
    flex-direction: column;
}

.node-property-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.node-property-group label{
    margin-top: 0.5rem;
}

.node-property-group input {
    max-width: 40%;
}





/* #accordion rotate icon option */


#accordion .node-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}
