.nodes {
    display: block;
   /* -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: stretch;
    justify-content: stretch;*/
    overflow-y:hidden;

    --node-nav-height: 75%;
    --node-select-input-height: 20%;
    --node-select-padding: 0.3rem;
}

.node-block {
    border-top: 1px solid white;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    -webkit-scrollbar-width: thin;
    -ms-scrollbar-width: thin;
    -o-scrollbar-width: thin;
    scrollbar-width: thin;
    -webkit-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    -ms-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    -o-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
}

.node-block:first-child {
    border-top: none;
}

#node-section.node-block {
    height: var(--node-nav-height);
}

#node-neighbors-section.node-block {
    height: calc(100% - var(--node-nav-height));
}

#node-nav {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 4rem;
    padding: 0 var(--node-select-padding);
}

.node-select-input {
    height: 100%;
    background-image: url(../icons/chevron-down-solid.svg);
    background-position: 98% 50%;
    background-size: 10px 10px, 10px 10px, 1.5em 1.5em;
    background-repeat: no-repeat;
}

.node-select-list {
    position: absolute;
    top: 100%;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 20rem;
    z-index: 1;
    width: calc(100% - 2*var(--node-select-padding));
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    list-style-type: none;
    background-color: white;
    height: auto;
    padding: 0;
}

.node-select-list::-webkit-scrollbar {
    display: none;
}

.node-li {
    text-decoration: none;
    padding: 1rem 0;
    padding-left: 1rem;
    border-top: 1px solid rgba(140, 140, 140, 0.20);
    border-bottom: 1px solid rgba(140, 140, 140, 0.20);
}

.node-li:hover {
    background-color: rgba(140, 140, 140, 0.20);
}



.node-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.node-container a:focus,
.node-container a:hover,
.node-container a:active {
    outline: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.node-container {
    border: 0.2rem solid #333333;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.node-row-group{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0.2rem;
    margin-bottom: 0.5rem;
}

.node-heading {
    background-color: white;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4rem;
    border: 0.1em solid black;
    color: #333333;
    padding: 0;
    font-size: 2rem;
    min-height: 4rem;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.node-heading-selected {
    border: 0.2rem solid black;
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.node-heading:hover {
    -moz-filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    cursor: pointer;
}

.node-heading:active {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.node-heading a {
    text-align: center;
    line-height: 3rem;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size: 1.6rem;
    font-weight: 400;
}

.node-heading.active-node-heading {
    border-bottom: none;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.node-heading-disabled {
    pointer-events: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-filter: brightness(20%);
    -webkit-filter: brightness(20%);
    filter: brightness(20%);
}

.node-heading-disabled h5 {
    visibility: hidden;
}

.node-data {
    display: none;
    background-color: #fff;
    -ms-grid-column: 1 / 6;
    grid-column: 1 / 6;
    border: 0.1rem solid black;
    border-top: none;
}

.node-data .node-property-group {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin: 0.5rem 0.5rem;
}

.node-detail-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    padding: 0.5rem 1rem;
}

.node-detail-container::-webkit-scrollbar {
    display: none;
}


.node-detail {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.node-property-group {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.node-property-group label {
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node-property-group input {
    max-width: 40%;
}

/* #accordion rotate icon option */


#accordion .node-heading.active a:before {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
