/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

html {
    font-size: 10px;
    padding-top: 0;
    --border-color: rgb(89, 118, 135);
    --active-content: rgb(138, 182, 210);
    --shadow-color: rgba(0,0,0, 0.20);
    --parameter-label-bg-color: rgba(70,70,70, 0.7);
    --parameter-input-and-select-bg-color: rgba(85,85,85, 0.7);
    --main-background-color: rgb(80, 80, 80);
}

body {
    font-family: "Segoe UI Variable", "Segoe UI", system-ui, ui-sans-serif, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: rgb(80, 80, 80);
    padding-top: 0;
    height: 100%;
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.min-vh-90{
    min-height: 90vh;
}

footer {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    
}

.text-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    border: 1px solid white;
    position: absolute;
    z-index: 2;
    bottom: 100%;
    margin-left: -60px;
}

.text-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.active-block {
    display: block !important;
}

.active-flex {
    display: flex !important;
}

.active-grid {
    display: grid !important;
}




