/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

html {
    font-size: 10px;
}

body {
    background-color: rgb(80, 80, 80);
    height: 100%;
    margin: 0;
}

footer {
    display: none;
    border-top: 0.1rem dashed white;
    padding: 0.5rem 1rem;
    text-align: right;
}

.invisible {
    opacity: 0;
}

.page-section {
    position: relative;
    padding-top: 1.5em;
    padding-bottom: 3em;
}

.row.display-flex {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}


