/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

html {
    font-size: 10px;
    padding-top: 0;
    --border-color: rgb(89, 118, 135);
    --active-content: rgb(138, 182, 210);
    --shadow-color: rgba(0,0,0, 0.20);
    --parameter-label-bg-color: rgba(70,70,70, 0.7);
    --parameter-input-and-select-bg-color: rgba(85,85,85, 0.7);
    --main-background-color: rgb(80, 80, 80);
    --default-network-background: rgb(100, 100, 100);
}

body {
    font-family: "Segoe UI Variable", "Segoe UI", system-ui, ui-sans-serif, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: var(--main-background-color);
    padding-top: 0;
    height: 100%;
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.main-div {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 90vh;
    max-height: 90vh;
    border: none;
    outline: none;
    width: 100%;
}

.navigation {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.tab-nav{
    min-width: 20px;
}

.tab-link {
    padding: 1rem 1.5rem;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-bottom: 2px solid var(--border-color);
    font-size: 1.7rem;
    color: lavender;
    height: 100%;
    line-height: 100%;
}

.tab-link.tab-active {
    color: rgb(52, 59, 74);
}

.tab-link:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.tab-active {
    background-color: var(--active-content);
    border: 2px solid var(--border-color);
    border-bottom: none;
    z-index: 10;
    /*-moz-box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color), -1px 0 1px var(--shadow-color), -2px 0 2px var(--shadow-color), -4px 0 4px var(--shadow-color), -8px 0 8px var(--shadow-color), -16px 0 16px var(--shadow-color), -32px 0 32px var(--shadow-color);
    -webkit-box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color), -1px 0 1px var(--shadow-color), -2px 0 2px var(--shadow-color), -4px 0 4px var(--shadow-color), -8px 0 8px var(--shadow-color), -16px 0 16px var(--shadow-color), -32px 0 32px var(--shadow-color);
    box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color), -1px 0 1px var(--shadow-color), -2px 0 2px var(--shadow-color), -4px 0 4px var(--shadow-color), -8px 0 8px var(--shadow-color), -16px 0 16px var(--shadow-color), -32px 0 32px var(--shadow-color);*/
}

.navigation > .tab-nav:first-child > .tab-active {
    /*-moz-box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color);
    -webkit-box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color);
    box-shadow: 1px 0 1px var(--shadow-color), 2px 0 2px var(--shadow-color), 4px 0 4px var(--shadow-color), 8px 0 8px var(--shadow-color), 16px 0 16px var(--shadow-color), 32px 0 32px var(--shadow-color);*/
}

.min-vh-90{
    min-height: 90vh;
}

footer {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    
}

.text-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    border: 1px solid white;
    position: absolute;
    z-index: 2;
    bottom: 100%;
    margin-left: -60px;
}

.text-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.scrollbar-thin {
    -webkit-scrollbar-width: thin;
    -ms-scrollbar-width: thin;
    -o-scrollbar-width: thin;
    scrollbar-width: thin;
    -webkit-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    -ms-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    -o-scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
    scrollbar-color: var(--scrollbar-track-color) var(--base-background-color);
}

input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    border: 0.125rem solid black;
}

input[type=color]::-moz-color-swatch {
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0.125rem solid black;
}

.inline-space-evenly {
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-between;
    
}
.inline-space-evenly>* {
    margin: 0 0.25rem;
}

.inline-space-evenly:first-child {
    margin-left: 0.5rem !important;
}

.inline-space-evenly:last-child {
    margin-right: 0.5rem !important;
}

.active-block {
    display: block !important;
}

.active-flex {
    display: flex !important;
}

.active-grid {
    display: grid !important;
}




