svg {
    flex-basis: 100%;
    min-width: 200px;
}

html {
    width: 100%;
}

body {
    width: 100%;
    padding: 0;
    display: flex;
    font-family: sans-serif;
}

.links line {
    stroke: gray;
    stroke-width: 2px;
}

.nodes circle {
    pointer-events: all;
    stroke: white;
    stroke-width: 2px;
}
