svg {
    flex-basis: 100%;
    min-width: 200px;
    border: solid;
    border-color: white;
    height: 80%;
}

html {
    width: 100%;
}

.links line {
    stroke: lightgray;
    stroke-width: 1px;
}

.nodes circle {
    pointer-events: all;
    stroke: black;
    stroke-width: 2px;
    fill: red;
}
